#pagination {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    li {
        a {
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 5px;
            font-size: 18px;
            line-height: 24px;
            min-width: 30px;
            text-align: center;
            display: inline-block;
            width: 100%;
            padding: 5px 10px;
            cursor: pointer;

            &:hover {
                background-color: #0038ff;
                color: #fff;
            }
        }
    }
}

#pagination li.active a {
    background-color: #0038ff;
    color: #fff;
}

